.btn {
    display: flex;
    height: 4.8rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 0 0.8rem;
    padding: 0;
}

.btn:hover .text {
    font-weight: 400;
    color: #00ffbfd0;
}

.wrapper {
    display: inherit;
    margin: auto;
    font-weight: 300;
    padding-bottom: 0.2rem;
    white-space: nowrap;
}

.text {
    font-family: "Montserrat";
    font-weight: 300;
    letter-spacing: 1px;
    color: #8f8f8f87;
}

.active {
    font-family: "Montserrat";
    color: #bfbfbfd0;
    font-weight: 300;
    letter-spacing: 1px;
}

.active:hover,
.active_underline:hover {
    color: #00ffbfd0;
    border-color: #00ffbfd0;
}

.active_underline {
    border-bottom: 2px solid #bfbfbfd0;
}
