@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html {
    /* set base font-size to equiv "10px", which is adapted to rem unit */
    font-size: 62.5%;
    /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
    /* thanks to @guardian, @victorbritopro and @eQRoeil */
    font-size: calc(1em * 0.625);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.4em;
    font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: #0e0c14;
}
